@charset "UTF-8";
body {
  position: relative;
  height: 300vh;
}

a:hover,
button:hover {
  cursor: pointer;
}

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

header {
  background-color: white;
  width: 100%;
  height: 97px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 0;
  z-index: 9;
}

.header-left,
.header-right {
  display: flex;
}

.header-left {
  padding-left: 30px;
  align-items: center;
  width: 90%;
}
.header-left .logo-container {
  display: block;
}
.header-left .logo {
  width: 10rem;
  height: auto;
}

.header-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 10%;
  padding-right: 15px;
}
.header-right .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.header-right .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header-right .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header-right .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
}
.header-right .nav-menu {
  width: 75%;
  height: 30vh;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  right: 0;
  margin-top: 97px;
  padding: 24px 24px 0 24px;
  z-index: 9;
  background-color: gray;
  border-radius: 0 0 0 50px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header-right .nav-menu .nav-item {
  padding: 15px 0;
  border-bottom: 1px solid black;
}
.header-right .nav-menu .nav-link {
  align-items: center;
}
.header-right .nav-menu.active {
  left: 25%;
  visibility: visible;
  opacity: 1;
}
.header-right a {
  color: black;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container {
  width: 100%;
}

figure {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}
figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
figure figcaption .project-text {
  position: absolute;
  bottom: 0;
  padding: 8px;
  color: white;
  visibility: hidden;
}
figure figcaption .project-text-active {
  visibility: visible;
}

.project-img {
  width: 101%;
  height: auto;
  max-width: none;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: scale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-img-active {
  scale: 101% 101%;
  transform: b(0);
}

.filter {
  transition: -webkit-backdrop-filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: backdrop-filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: backdrop-filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-backdrop-filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-active {
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
}

.move90 {
  left: 0;
  top: 90%;
  transform: translate(0, -90%);
}

.move80 {
  left: 0;
  top: 80%;
  transform: translate(0, -80%);
}

.move70 {
  left: 0;
  top: 70%;
  transform: translate(0, -70%);
}

.move60 {
  left: 0;
  top: 60%;
  transform: translate(0, -60%);
}

.move50 {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.move40 {
  left: 0;
  top: 40%;
  transform: translate(0, -40%);
}

.move30 {
  left: 0;
  top: 30%;
  transform: translate(0, -30%);
}

.move20 {
  left: 0;
  top: 20%;
  transform: translate(0, -20%);
}

.move10 {
  left: 0;
  top: 10%;
  transform: translate(0, -10%);
}

footer {
  display: flex;
  flex-wrap: wrap;
}
footer .container-socials {
  width: 100%;
  height: 48px;
  border-top: 0.5px solid gray;
  display: flex;
}
footer .container-socials .instagram {
  border-right: 0.5px solid gray;
  border-left: 0.5px solid transparent;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container-socials .instagram img {
  height: 50%;
}
footer .site-info {
  width: 100%;
  height: 48px;
  padding-left: 10px;
  border-top: 0.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .site-info span {
  padding-right: 3px;
}

.site-info::after {
  content: " © Copyright 2016-2023 All rights reserved.";
}

@media screen and (min-width: 820px) {
  .project-container {
    width: 50%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .container-socials {
    width: 50%;
    justify-content: flex-end;
  }
  footer .container-socials .instagram {
    border-right: 0.5px solid transparent;
    border-left: 0.5px solid gray;
  }
  footer .site-info {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 145px;
  }
  .header-left .logo {
    width: 20rem;
  }
  .header-right .nav-menu {
    margin-top: 145px;
  }
  .project-container {
    width: 33.33%;
  }
}