//**--------------------------------------------**//
//**------------------ HEADER ------------------**//
//**--------------------------------------------**//


header{
    height: $header_d;
}

.header-left{

    .logo{
        width: 20rem;
    }
}

.header-right{
    .nav-menu{
        margin-top: $header_d;
    }
}

//**--------------------------------------------**//
//**------------------- MAIN -------------------**//
//**--------------------------------------------**//

.project-container{
    width: 33.33%;
}

