$header_m: 97px;
$header_d: 145px;

header{
    background-color: white;
    width: 100%;
    height: $header_m;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 0;
    z-index: 9;
}

.header-left,
.header-right{
    display: flex;
}

// ------------------------------------------------------ //
// --------------------- HEADER LEFT -------------------- //
// ------------------------------------------------------ //

.header-left{
    padding-left: 30px;
    align-items: center;
    width: 90%;

    .logo-container{
        display: block;
    }

    .logo{
        width: 10rem;
        height: auto;
    }
}

// ------------------------------------------------------ //
// --------------------- HEADER RIGHT ------------------- //
// ------------------------------------------------------ //

.header-right{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 10%;
    padding-right: 15px;

    .navbar{

    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        transition: all 0.3s ease;
        background-color: black;
    }

    .nav-menu{
        width: 75%;
        height: 30vh;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 0;
        right: 0;
        margin-top: $header_m;
        padding: 24px 24px 0 24px;
        z-index: 9;
        background-color: gray;
        border-radius: 0 0 0 50px;
        transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);


        .nav-item{
            padding: 15px 0;
            border-bottom: 1px solid black;
        }
        
        .nav-link{
            align-items: center;
        }
    }
    
    .nav-menu.active{
        left: 25%;
        visibility: visible;
        opacity: 1;
    }

    a{
        color: black;
    }
}

