main{

}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-container{
    width: 100%;
}

a{
    // display: block;
}

figure{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: black;

    figcaption{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .project-text{
            position: absolute;
            bottom: 0;
            padding: 8px;
            color: white;
            visibility: hidden;
        }

        .project-text-active{
            visibility: visible;
        }
    }


}

.project-img{
    width: 101%;
    height: auto;
    max-width: none;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: scale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-img-active{
    scale: 101% 101%;
    transform: b(0);
}

.filter{
    transition: backdrop-filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-active{
    backdrop-filter: grayscale(100%);
}




// ------------------------------------------------------ //
// ----------------------- IMG VAR ---------------------- //
// ------------------------------------------------------ //

.move90{
    left: 0;
    top: 90%;
    transform: translate(0, -90%);
}

.move80{
    left: 0;
    top: 80%;
    transform: translate(0, -80%);
}

.move70{
    left: 0;
    top: 70%;
    transform: translate(0, -70%);
}

.move60{
    left: 0;
    top: 60%;
    transform: translate(0, -60%);
}

.move50{
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.move40{
    left: 0;
    top: 40%;
    transform: translate(0, -40%);
}

.move30{
    left: 0;
    top: 30%;
    transform: translate(0, -30%);
}

.move20{
    left: 0;
    top: 20%;
    transform: translate(0, -20%);
}

.move10{
    left: 0;
    top: 10%;
    transform: translate(0, -10%);
}